body{
	transition: 1s;
}
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 400px) {
	body {
		background-color: aliceblue;
	}
}

@media only screen and (min-width: 700px) {
	body {
		background-color: aqua;
	}
}

@media only screen and (min-width: 900px) {
	body {
		background-color:rgb(255, 0, 0);
	}
}

@media only screen and (min-width: 1100px) {
	body {
		background-color:rgb(76, 0, 255);
	}
}

@media only screen and (min-width: 1280px) {
	body {
		background-color:rgb(255, 255, 255);
	}
}
 